- model_class = Path
.page-header
  %h1
    = @path.title
    = link_to t('.edit', default: t("helpers.links.edit")), edit_backoffice_path_path(@path), class: 'btn btn-primary'

%div.container
  %div.row
    %div.col-lg-10
      %h4.text-uppercase
        = :description
      %p.lead= @path.description

= link_to t('.destroy', default: t("helpers.links.destroy")), backoffice_path_path(@path), method: "delete", data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-danger'
