- model_class = Path
.page-header
  %h1
    = @path.title
    = link_to t('.edit', default: t("helpers.links.edit")), edit_backoffice_path_path(@path), class: 'btn btn-primary'

.container
  .row
    .col-lg-10
      %h4.text-uppercase
        = :description
      %p.lead= @path.description
  .row
    .col-lg-10
      = show_image_related_to(@path)

= link_to t('.destroy', default: t("helpers.links.destroy")), backoffice_path_path(@path), method: "delete", data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-danger'
