- model_class = Offer
.page-header
  %h1
    = @offer.title

%div.container
  %div.row
    %div.col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
      %h2.text-center{style: 'margin: 20px 0; padding: 10px 0; border: solid 1px #bbb; background-color: #eee;'}
        =render partial: 'prices'

      %a#button_app.invisible.float_right.btn.btn-primary(onclick="openApplication()") Prenota con TDVpass

      %p.lead.text-uppercase.padding_top
        = @offer.title
      %div
        = image_tag @offer.image_url, class: 'img-responsive img-thumbnail'
      %h4.text-uppercase
        = 'Descrizione'
      %p.lead= @offer.description.html_safe
      %h4.text-uppercase
        = 'Dove utilizzare'
      %div#basic_map{style: 'height: 300px;'}
      %h5
        = @offer.merchant.name
      %p
        = @offer.merchant.street
        %br
        = @offer.merchant.zip_code + ' ' + @offer.merchant.city
        %br
        = model_class.human_attribute_name(:telephone) + ': ' + @offer.merchant.telephone
        %br
        = model_class.human_attribute_name(:email) + ': ' + @offer.merchant.email
        %br
        = model_class.human_attribute_name(:web_site) + ': ' + @offer.merchant.web_site


%script{src: '//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry', type: 'text/javascript'}
%script{src: '//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js', type: 'text/javascript'}

:javascript
  function init_map() {
    var latlng = new google.maps.LatLng(#{@offer.merchant.latitude}, #{@offer.merchant.longitude});
    var myOptions = {
      zoom: 11,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      mapTypeControl: true,
      mapTypeControlOptions:
      {
        style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
        poistion: google.maps.ControlPosition.TOP_RIGHT,
        mapTypeIds: [google.maps.MapTypeId.ROADMAP,
        google.maps.MapTypeId.TERRAIN,
        google.maps.MapTypeId.HYBRID,
        google.maps.MapTypeId.SATELLITE]
      },
      navigationControl: true,
      navigationControlOptions:
      {
        style: google.maps.NavigationControlStyle.ZOOM_PAN
      },
      scaleControl: true,
      disableDoubleClickZoom: true,
      draggable: true,
      streetViewControl: true,
      draggableCursor: 'move'
    };
    var basic_map = document.getElementById("basic_map");
    var map = new google.maps.Map(basic_map, myOptions);
    var myLatlng = new google.maps.LatLng(#{@offer.merchant.latitude}, #{@offer.merchant.longitude});
    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
    });
  }

  var isMobile = {
      iOS: function() {
          return navigator.userAgent.match(/iPhone|iPad|iPod/i);
      },
      Android: function() {
          return navigator.userAgent.match(/Android/i);
      }
  };

  function openApplication(){
    if( isMobile.iOS() ){
        window.location = "tdvpass://offer/#{@offer.id}" ;
    }else if( isMobile.Android() ){
        window.location = "#{Rails.application.secrets.protocol}#{request.host_with_port}#{frontend_offer_path}"
    }
  }


  window.onload = function(e){
    setTimeout(function(){
        if( isMobile.iOS() || isMobile.Android()){
            $('.invisible').css('visibility','visible');
        }
    }, 100)
  }

:javascript
  google.maps.event.addDomListener(window, 'load', init_map);
