%div.form-group
  = f.label :description, class: 'col-lg-2 control-label text-right'
  .div.col-lg-10
    = f.text_area :description, class: 'form-control noresize', required: true, size: '60x12'
%div.form-group
  = f.label :city, class: 'col-lg-2 control-label text-right'
  .div.col-lg-10
    = f.text_field :city, class: 'form-control', required: true
%div.form-group
  = f.label :street, class: 'col-lg-2 control-label text-right'
  .div.col-lg-10
    = f.text_field :street, class: 'form-control', required: true
%div.form-group
  = f.label :zip_code, class: 'col-lg-2 control-label text-right'
  .div.col-lg-10
    = f.text_field :zip_code, class: 'form-control', required: true
%div.form-group
  = f.label :web_site, class: 'col-lg-2 control-label text-right'
  .div.col-lg-10
    = f.text_field :web_site, class: 'form-control', required: true
%div.form-group
  = f.label :telephone, class: 'col-lg-2 control-label text-right'
  .div.col-lg-10
    = f.text_field :telephone, class: 'form-control', required: true
%div.form-group
  = f.label :latitude, class: 'col-lg-2 control-label text-right'
  .div.col-lg-10
    = f.text_field :latitude, class: 'form-control', required: true
%div.form-group
  = f.label :longitude, class: 'col-lg-2 control-label text-right'
  .div.col-lg-10
    = f.text_field :longitude , class: 'form-control', required: true
%div.form-group
  = f.label :opening_hours, class: 'col-lg-2 control-label text-right'
  .div.col-lg-10
    = f.text_area :opening_hours, class: 'form-control noresize', size: '60x5'
