%div.form-group
  = f.label :description, class: 'col-lg-2 control-label text-right'
  .div.col-lg-10
    = f.text_area :description, class: 'form-control noresize', required: true, size: '60x12'
%div.form-group
  = f.label :opening_hours, class: 'col-lg-2 control-label text-right'
  .div.col-lg-10
    = f.text_area :opening_hours, class: 'form-control noresize', size: '60x5'
%div.form-group
  = f.label :image, class: 'col-lg-2 control-label text-right'
  .div.col-lg-10#image
    %a.btn.btn-primary#add_image_button{'data-toggle': 'modal', 'data-target': '#imgModal', style: toggle_button_for(@merchant.image) }
      = t('.add', default: t("helpers.links.add"))
    - if @merchant.image.present?
      %div.form-group
        - image = @merchant.image
        = f.hidden_field 'image_id', id: nil, value: image.id
        = image_tag image.url, class: 'img-responsive img-thumbnail'
        %button.remove_image.close{type: 'button', id: image.id, onclick: 'remove_image(this)'}
          %span{'aria-hidden': 'true'} &times;
%div.form-group
  = f.label :city, class: 'col-lg-2 control-label text-right'
  .div.col-lg-10
    = f.text_field :city, class: 'form-control', required: true
%div.form-group
  = f.label :street, class: 'col-lg-2 control-label text-right'
  .div.col-lg-10
    = f.text_field :street, class: 'form-control', required: true
%div.form-group
  = f.label :zip_code, class: 'col-lg-2 control-label text-right'
  .div.col-lg-10
    = f.text_field :zip_code, class: 'form-control', required: true
%div.form-group
  = f.label :web_site, class: 'col-lg-2 control-label text-right'
  .div.col-lg-10
    = f.text_field :web_site, class: 'form-control', required: true
%div.form-group
  = f.label :telephone, class: 'col-lg-2 control-label text-right'
  .div.col-lg-10
    = f.text_field :telephone, class: 'form-control', required: true
%div.form-group
  = f.label :latitude, class: 'col-lg-2 control-label text-right'
  .div.col-lg-10
    = f.text_field :latitude, class: 'form-control', required: true
%div.form-group
  = f.label :longitude, class: 'col-lg-2 control-label text-right'
  .div.col-lg-10
    = f.text_field :longitude , class: 'form-control', required: true
