- model_class = Merchant
.page-header
  %h1
    = @merchant.name
    = link_to t('.edit', default: t("helpers.links.edit")), edit_backoffice_merchant_path(@merchant), class: 'btn btn-primary'


%div.panel.panel-info
  %div.panel-heading
    %h3.panel-title
      = @merchant.name
  %div.panel-body
    %div.row
      %div.col-lg-2.text-right
        %strong 
          = :city
      %div.col-lg-10
        = @merchant.city
    %div.row
      %div.col-lg-2.text-right
        %strong 
          = :street
      %div.col-lg-10
        = @merchant.street
    %div.row
      %div.col-lg-2.text-right
        %strong 
          = :zip_code
      %div.col-lg-10
        = @merchant.zip_code
    %div.row
      %div.col-lg-2.text-right
        %strong 
          = :telephone
      %div.col-lg-10
        = @merchant.telephone
    %div.row
      %div.col-lg-2.text-right
        %strong 
          = :email
      %div.col-lg-10
        = @merchant.email
    %div.row
      %div.col-lg-2.text-right
        %strong 
          = :web_site
      %div.col-lg-10
        = @merchant.web_site
    %div.row
      %div.col-lg-2.text-right
        %strong 
          = :latitude
      %div.col-lg-10
        = @merchant.latitude
    %div.row
      %div.col-lg-2.text-right
        %strong 
          = :longitude
      %div.col-lg-10
        = @merchant.longitude