- model_class = Merchant
.page-header
  %h1
    = @merchant.name
    = link_to t('.edit', default: t("helpers.links.edit")), edit_backoffice_merchant_path(@merchant), class: 'btn btn-primary'

%p= @merchant.city
%p= @merchant.street
%p= @merchant.zip_code
%p= @merchant.telephone
%p= @merchant.email
%p= @merchant.web_site
%p= @merchant.latitude
%p= @merchant.longitude
