- model_class = Offer
= tinymce_assets
-# = tinymce :alternate
= form_for [:backoffice, @offer] do |f|
  .row.form
    .input-group-lg
      = f.text_field :title, class: 'form-control', placeholder: :title, required: true
      = error_span(@offer[:title])

  .row.form
    .input-group-lg
      .controls
        = f.text_area :description, :rows => 10, :cols => 120, class: "form-control tinymce", required: true
        = tinymce :alternate
        -# = f.label :controls
        -# = f.text_area :controls, class: "tinymce"
        -# = f.text_area :description, class: 'form-control noresize', required: true, size: '60x12'
      = error_span(@offer[:description])

  .row.form
    = f.label :prices, class: 'lead'
    .controls
      .col-xs-6
        .input-group
          %span.input-group-addon
            = "#{model_class.human_attribute_name(:price)} - €"
          = f.text_field :price, class: 'form-control', required: true
        = error_span(@offer[:price])
      .col-xs-6
        .input-group
          %span.input-group-addon
            = "#{model_class.human_attribute_name(:original_price)} - €"
          = f.text_field :original_price, class: 'form-control'
        = error_span(@offer[:original_price])
      .col-xs-6
        .input-group
          %span.input-group-addon
            = "#{model_class.human_attribute_name(:reservation_price)} - €"
          = f.text_field :reservation_price, class: 'form-control', required: true
        = error_span(@offer[:reservation_price])

  .row.form
    = f.label :merchant, class: 'lead'
    .controls
      = f.collection_select(:merchant_id, Merchant.all, :id, :name)

  .row.form
    = f.label :images, class: 'lead'
    %a.btn.btn-primary{'data-toggle': 'modal', 'data-target': '#imgModal'}
      = t('.add', default: t("helpers.links.add"))
    .controls#images
      - if @offer.images
        - @offer.images.each do |image|
          .col-xs-3
            = f.hidden_field 'images', multiple: true, id: nil, value: image.id
            = image_tag image.url, class: 'img-responsive img-thumbnail'
            %button.remove_image.close{type: 'button', id: image.id, onclick: 'remove_image(this)'}
              %span{'aria-hidden': 'true'} &times;

  .row
    = f.submit nil,class: 'btn btn-primary'
    = link_to t('.cancel', default: t("helpers.links.cancel")), backoffice_offers_path, class: 'btn btn-default'

= render partial: 'add_image'

= tinymce
