= form_for [:backoffice, @offer] do |f|
  %div.row
    .input-group-lg
      = f.text_field :title, class: 'form-control', placeholder: :title, required: true
      = error_span(@offer[:title])
    .input-group-lg
      .controls
        = f.text_area :description, class: 'form-control noresize', required: true, size: '60x12'
      = error_span(@offer[:description])

  %div.row
    %div.col-xs-6
      = f.label :price, class: 'control-label'
      .controls
        .input-group
          %span.input-group-addon €
          = f.text_field :price, class: 'form-control', required: true
        = error_span(@offer[:price])
    %div.col-xs-6
      = f.label :original_price, class: 'control-label'
      .controls
        .input-group
          %span.input-group-addon €
          = f.text_field :original_price, class: 'form-control', required: true
        = error_span(@offer[:original_price])

  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', default: t("helpers.links.cancel")), backoffice_offers_path, class: 'btn btn-default'
