= form_for [:backoffice, @offer], html: { class: "form form-horizontal offer" } do |f|
  .form-group
    = f.label :title, class: 'control-label'
    .controls
      = f.text_field :title, class: 'form-control', required: true
    = error_span(@offer[:title])
  .form-group
    = f.label :description, class: 'control-label'
    .controls
      = f.text_field :description, class: 'form-control', required: true
    = error_span(@offer[:description])
  .form-group
    = f.label :price, class: 'control-label'
    .controls
      = f.text_field :price, class: 'form-control', required: true
    = error_span(@offer[:price])
  .form-group
    = f.label :original_price, class: 'control-label'
    .controls
      = f.text_field :original_price, class: 'form-control', required: true
    = error_span(@offer[:original_price])
  .form-group
    = f.label :image_url, class: 'control-label'
    .controls
      = f.text_field :image_url, class: 'form-control', required: true
    = error_span(@offer[:image_url])
  .form-group
    = f.label :merchant, class: 'control-label'
    .controls
      = f.text_field :merchant, class: 'form-control', required: true
    = error_span(@offer[:merchant])
  .form-group
    = f.label :telephone, class: 'control-label'
    .controls
      = f.text_field :telephone, class: 'form-control', required: true
    = error_span(@offer[:telephone])
  .form-group
    = f.label :email, class: 'control-label'
    .controls
      = f.text_field :email, class: 'form-control', required: true
    = error_span(@offer[:email])
  .form-group
    = f.label :web_site, class: 'control-label'
    .controls
      = f.text_field :web_site, class: 'form-control', required: true
    = error_span(@offer[:web_site])
  .form-group
    = f.label :street, class: 'control-label'
    .controls
      = f.text_field :street, class: 'form-control', required: true
    = error_span(@offer[:street])
  .form-group
    = f.label :zip_code, class: 'control-label'
    .controls
      = f.text_field :zip_code, class: 'form-control', required: true
    = error_span(@offer[:zip_code])
  .form-group
    = f.label :city, class: 'control-label'
    .controls
      = f.text_field :city, class: 'form-control', required: true
    = error_span(@offer[:city])
  .form-group
    = f.label :latitude, class: 'control-label'
    .controls
      = f.text_field :latitude, class: 'form-control', required: true
    = error_span(@offer[:latitude])
  .form-group
    = f.label :longitude, class: 'control-label'
    .controls
      = f.text_field :longitude, class: 'form-control', required: true
    = error_span(@offer[:longitude])
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', default: t("helpers.links.cancel")), backoffice_offers_path, class: 'btn btn-default'
