- model_class = Offer
= form_for [:backoffice, @offer] do |f|
  .row.form
    .input-group-lg
      = f.text_field :title, class: 'form-control', placeholder: :title, required: true
      = error_span(@offer[:title])

  .row.form
    .input-group-lg
      .controls
        = f.text_area :description, class: 'form-control noresize', required: true, size: '60x12'
      = error_span(@offer[:description])

  .row.form
    = f.label :prices, class: 'lead'
    .controls
      .col-xs-6
        .input-group
          %span.input-group-addon
            = "#{model_class.human_attribute_name(:price)} - €"
          = f.text_field :price, class: 'form-control', required: true
        = error_span(@offer[:price])
      .col-xs-6
        .input-group
          %span.input-group-addon
            = "#{model_class.human_attribute_name(:original_price)} - €"
          = f.text_field :original_price, class: 'form-control', required: true
        = error_span(@offer[:original_price])

  .row.form
    = f.label :merchant, class: 'lead'
    .controls
      = f.collection_select(:merchant_id, Merchant.all, :id, :name)

  - if @offer.images
    .row.form
      = f.label :images, class: 'lead'
      %a.btn.btn-primary{'data-toggle': 'modal', 'data-target': '#imgModal'}
        = t('.add', default: t("helpers.links.add"))
      .controls
        - @offer.images.each do |image|
          .col-xs-3
            %img{src: image.resource.to_s, style: 'height:100px'}

  .row
    = f.submit nil,class: 'btn btn-primary'
    = link_to t('.cancel', default: t("helpers.links.cancel")), backoffice_offers_path, class: 'btn btn-default'

.modal#imgModal
  .modal-dialog.modal-lg
    = form_tag "/backoffice/images/", multipart: true, class: 'form-horizontal' do
      .modal-content
        .modal-header
          %h4.modal-title#imgModalLabel Carica nuova immagine
        .modal-body
          %span.btn.btn-success.fileinput-button
            %i.icon-plus.icon-white
            %span Scegli file ...
            = file_field_tag :resource
        .modal-footer
          %button.btn.btn-primary.start(type="submit")
            %i.icon-upload.icon-white
            %span Carica

