-if @offer.original_price.present?
  %span.label{style: 'color: black'}
    %strike= "#{'%.2f' % @offer.original_price} €"
  %span.label.label-success= "#{'%.2f' % @offer.price} €"
-else
  %span.label{style: 'color: black'}= "#{'%.2f' % @offer.price} €"
