- model_class = Offer
.page-header
  %h1
    = t '.title', default: model_class.model_name.human.pluralize.titleize
    = link_to t('.new', default: t("helpers.links.new")), new_backoffice_offer_path, class: 'btn btn-primary'
%table.table.table-bordered.table-striped
  %thead
    %tr
      %td= model_class.human_attribute_name(:title)
      %td= model_class.human_attribute_name(:price)
      %td= model_class.human_attribute_name(:merchant)
      %td= model_class.human_attribute_name(:telephone)
      %td= model_class.human_attribute_name(:email)
  %tbody
    - @offers.each do |offer|
      %tr
        %td
          %h5= link_to offer.title, backoffice_offer_path(offer)
          %div
            = link_to t('.edit', default: t("helpers.links.edit")), edit_backoffice_offer_path(offer)
            |
            = link_to t('.preview', default: t("helpers.links.preview")) , backoffice_offer_path(offer)
            |
            = link_to t('.destroy', default: t("helpers.links.destroy")), backoffice_offer_path(offer), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }
        %td= offer.price
        %td= offer.merchant
        %td= offer.telephone
        %td= offer.email
