- model_class = Offer
.page-header
  %h1
    = t '.title', default: model_class.model_name.human.pluralize.titleize
    = link_to t('.new', default: t("helpers.links.new")), new_backoffice_offer_path, class: 'btn btn-primary'
%div.float_left
  %a.float_left(onclick="notify()") Notifica aggiornamenti:
  %p.margin_left.float_left= t('general_notification_content')
  %a#android_error.margin_left.float_left.error_label(onclick="notifyAndroid()") Riprova per Android
  %a#ios_error.margin_left.float_left.error_label(onclick="notifyIos()") Riprova per iOS



%div.sk-circle.float_left.margin_50
  %div.sk-circle1.sk-child
  %div.sk-circle2.sk-child
  %div.sk-circle3.sk-child
  %div.sk-circle4.sk-child
  %div.sk-circle5.sk-child
  %div.sk-circle6.sk-child
  %div.sk-circle7.sk-child
  %div.sk-circle8.sk-child
  %div.sk-circle9.sk-child
  %div.sk-circle10.sk-child
  %div.sk-circle11.sk-child
  %div.sk-circle12.sk-child


%table.table.table-bordered.table-striped
  %thead
    %tr
      %td= model_class.human_attribute_name(:title)
      %td= model_class.human_attribute_name(:price)
      %td= model_class.human_attribute_name(:original_price)
      %td= model_class.human_attribute_name(:merchant)
      %td= model_class.human_attribute_name(:telephone)
      %td= model_class.human_attribute_name(:email)
  %tbody
    - @offers.each do |offer|
      %tr
        %td
          %h5= link_to offer.title, backoffice_offer_path(offer)
          %div
            = link_to t('.edit', default: t("helpers.links.edit")), edit_backoffice_offer_path(offer)
            |
            = link_to t('.preview', default: t("helpers.links.preview")) , backoffice_offer_path(offer)
            |
            = link_to t('.destroy', default: t("helpers.links.destroy")), backoffice_offer_path(offer), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }
        %td= offer.price
        %td= offer.original_price
        %td= offer.merchant.name
        %td= offer.merchant.telephone
        %td= offer.merchant.email


:javascript
    function notify(){
        $.ajax({
            url: "#{api_device_token_path}",
            type: 'GET',
            success: function(tokens){
                tokens_array = _.map(tokens, function(elem){ return elem.token });

                $.ajax({
                  url: "#{api_generic_notify_path}",
                  type: 'POST',
                  data: {"tokens" : tokens_array},
                  success: function(result) { 
                     if(result.android.status === "success" && result.ios.status === "success"){
                        alert("Notifica mandata con successo a tutti i device")
                     }else{
                        var message = "";
                        if(result.android.status === "error"){
                            $("#android_error").show();
                            message = "La notifica in Android non e' andata a buon fine.\n"
                        }
                        if(result.ios.status === "error"){
                            $("#ios_error").show();
                            message += "La notifica in iOS non e' andata a buon fine.\n"
                        }

                        message += "Riprova!"

                        alert(message);
                     }
                  }
                });
            }
        });

    }

    function notifyAndroid(){

    }

    function notifyIos(){

    }

    $( document ).ready(function() {
      $(".sk-circle").hide();
      $("#android_error").hide();
      $("#ios_error").hide();

      $(document).ajaxStart(function(){
        $(".sk-circle").show();
      });
      $(document).ajaxStop(function(){
        $(".sk-circle").hide();
      });
    });
