- model_class = Order
.page-header
  %h1
    = t '.title', default: model_class.model_name.human.pluralize.titleize
%table.table.table-bordered.table-striped
  %thead
    %tr
      %td= model_class.human_attribute_name(:timestamp)
      %td Merchant
      %td Code
      %td= model_class.human_attribute_name(:status)
  %tbody
    - @orders.each do |order|
      %tr
        %td= order.created_at
        %td= merchant_name_from(order)
        %td= coupon_code_from(order)
        %td= order.status
